
.mysvg {
	border: 1px solid red;
	float: left;
	margin-right: 20px;
}

rect {
	opacity: 0.4;
}

text {
	font-family: sans-serif;
}

text.yaxis {
	text-anchor: middle;
	font-size: 0.8em;
	fill: gray;
}

text.season-label  {
	text-anchor: middle;
	font-size: 0.8em;
	fill: gray;
}

text.xaxis {
	font-size: 0.6em;
	fill: gray;
}

text.xaxis.min {
	text-anchor: start;
}

text.xaxis.max {
	text-anchor: end;
}

path.separator {
	stroke: gray;
	"stroke-width": 1;
}